header > ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f3f7;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
}

li:hover {
    cursor: pointer;
}

.header-left-menu {
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-direction: row;


}

.header-left-menu > li > a {
    color: black;
    text-decoration: unset;
}

.header-left-menu > * {
    margin-right: 50px;
    font-family: Calibri, serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.73px;
    color: #000000;
    display: flex;
    align-items: flex-end;
    line-height: 1em;
}

.main-link > * {
    font-family: Calibri, serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4.23px;
    color: #000000;
    line-height: 0.9em;
}

.header-right-menu {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.menu-button {
    margin-left: 20px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button:hover {
    margin-left: 20px;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9ea;
    transition: background-color .2s;
}

.header-right-menu > * {
    margin-left: 20px;
}

.header-right-menu-image {
    width: 30px;
    height: 30px;
}

.profile-name {
    display: flex;
    align-items: center;
    height: 43px;
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.73px;
    text-align: left;
    color: #000000;
    line-height: 1em;
}

.doc {
    background-color: white;
    margin-right: 30px;
}

.docs-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.block-name {
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3.12px;
    text-align: justify;
    color: #000000;
    margin-bottom: 20px;
}

.new-docs, .popular-docs {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;

}


.new-doc-1, .popular-doc-1 {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.new-doc, .popular-doc {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.new-doc-1 {
    min-width: 500px;
}

.doc-image-block {
    height: 200px;
    width: auto;
    position: relative;

}

.doc-image {
    height: 200px;
    width: 140px;

}

/*.like-image{*/
/*    float: right;*/
/*    height: 25px;*/
/*    bottom: 15px;*/
/*    right: -10px;*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*}*/
.like-image {
    position: absolute;
    height: 25px;
    bottom: -15px;
    z-index: 1;
    right: -10px;
}

.doc-description {
    margin-left: 20px;
    text-align: justify;
    font-family: Calibri;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.doc-stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doc-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.doc-views {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.star, .views-image {
    height: 25px;
}

.views-image {
    margin-right: 5px;
}

.next {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -20px;

}

.next > img {
    height: 50px;

}

.prev {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -50px;
    margin-right: -30px;

}

.prev > img {
    height: 50px;

}

.header-right-menu-image:hover {
    fill: white;
}

.doc-container {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.doc-container > * {
    margin-bottom: 20px;
}

.doc-author {
    font-family: Calibri;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.54;
    letter-spacing: 3.12px;
    text-align: justify;
    color: #3b3b3b;
}

.doc-name {
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.43;
    letter-spacing: 3.9px;
    text-align: justify;
    color: #3b3b3b;
}

.doc-info {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.doc-left-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.doc-right-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.doc-main-info {
    display: flex;
    flex-direction: row;
}

.doc-image-big-block {
    position: relative;
}

.doc-image-big {
    height: 300px;
    width: 200px;

}

.like-image-big {
    position: absolute;
    height: 35px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
}

.info-table {
    font-family: Calibri;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: 2.5px;
    text-align: justify;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.info-table > table {
    border-spacing: 20px;
}

.info-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.doc-description-info {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-family: Calibri;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1.5px;
    color: #3b3b3b;
}

.doc-bottom-buttons {
    font-family: Calibri;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.doc-bottom-buttons > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.doc-bottom-buttons > div > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.btn-img {
    height: 40px;
    margin-right: 5px;
}

.contest-item {
    border-left: #3b3b3b 3px solid;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: Calibri;
    font-size: 17px;
    text-align: justify;
    color: #3b3b3b;
}

.doc-contest {
    display: flex;
    flex-direction: column;

}

.contest {
    font-family: Calibri;
    font-size: 17px;
    white-space: pre-wrap;
    text-align: left;
    margin-left: 20px;
}

.search-name {
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3.12px;
    text-align: justify;
    color: #000000;
}

.search-block-container > div {

    margin-bottom: 20px;
}

.filter-block {
    padding: 40px;
    background-color: white;
}

.results-block {
    background-color: white;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*flex-flow: row wrap;*/
    /*column-count: 2;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bookmarks-container {
    background-color: white;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*flex-flow: row wrap;*/
    /*column-count: 2;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sort-block {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sort-block > div {
    background-color: white;
}

.filter-block {
    display: flex;
    flex-direction: row;
}

.search-form, .add-document-form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    ine-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
    display: flex;
    justify-content: space-between;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.form-row:last-child {
    margin-bottom: 0;
}

.form-row > label {
    flex: 1;
}

.form-row > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

input {
    height: 30px;
    width: 100%;
}

textarea {
    height: 100px;
    width: 100%;
    max-width: 305px;
}

select {
    height: 35px;
    width: 100%;
}

.themes-filter {
    margin-left: 30px;
    overflow-y: scroll;
    height: 400px;
    max-height: 400px;
}

.themes-filter-add {
    margin-left: 30px;
    overflow-y: scroll;
    height: 100%;
}

.clchk {
    height: 10px;
    width: auto;
    /*display: none;*/
    z-index: 1;

}

.ul {
    list-style: none;
    font-family: Calibri;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.54;
    letter-spacing: 2px;
    text-align: justify;
    color: #414040;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 30px;
}

.sort-block > div {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.sort {
    font-family: Calibri;
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
    color: #414040;
    background-color: white;
    border: white;

}

.result-doc {
    /*page-break-inside: avoid;*/
    display: flex;
    /*flex: 2 1;*/
    flex-direction: row;
    padding: 30px;
    flex: 1 1 45%;
    max-width: 600px;
    min-width: 45%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-image {
    height: 150px;
    margin: 20px;
}

.profile-name-main {
    font-family: Calibri;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: justify;
}

.profile-telemetry {
    display: flex;
    flex-direction: row;
}

.views-container, .likes-container, .downloads-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-family: Calibri;
    font-size: 25px;
    font-weight: 600;
}

.img-tlmtr {
    height: 40px;
    margin-right: 10px;
}

.profile-statistic {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
}

.chart {
    flex: 1;
}


/*Form style*/


.form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    min-width: 300px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 60%;
    background-color: #ffffff;
    padding: 4%;

}

.form-container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    ine-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: 1px solid black;
    height: 40px;
}

.flex-outer li button {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px 16px;
    border: 3px solid black;
    background-color: white;

}

.flex-inner li {
    width: 100px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#submit-upload {
    background-color: white;
    height: 30px;
    border: 1px solid #afafaf;
}

input#image {
    background-color: white;
    border: 1px solid #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contests {
    width: 100%;
    max-width: 611px;
}

.add-file {
    border: 1px solid #afafaf;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-document-form-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.add-submit {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
    margin-top: 10px;
    margin-left: 10px;
    padding: 13px 16px;
    border: 3px solid #343434;
    background-color: white;
}

.search-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.button-container-search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 40px;
}

.btn-anim {
    font-family: Calibri;
    background-color: white;
    border: 3px solid black;
}

.btn-anim:hover {
    background-color: rgb(0, 0, 0);
    transition: .2s;
    cursor: pointer;
    color: white;
}

#submit1 {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
}

#submit1:hover {
    background-color: rgb(0, 0, 0);
    transition: .2s;
    cursor: pointer;
    color: white;
}

.top-link {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.column-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 40px;
}

.error-block {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: white;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    border-left: 5px solid #ef3c3c;
}

.analytics-container {
    column-count: 2;
}

.graph-name {
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
    margin-bottom: 10px;
}

.graph-container {
    page-break-inside: avoid;
    background-color: white;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 20px;
}

#curve_chart2 {
    display: flex;
    flex-direction: row;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 20px;
}

.login-form > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.register-form > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.form-container-login, .form-container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
}

.butt-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.butt-container > input {
    width: 100px;
    padding: 10px;
    height: 40px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
    text-align: justify;
    color: #414040;
    text-align: center;
    background-color: #f2f3f7;
}

.rate-button {
    background-color: white;
    border: 0;
    padding: 0;
}

button > .star {
    height: 30px;
}

.doc-name-min {
    margin-top: 2px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.edit-form {
    background-color: white;
    padding: 40px;
}

.edit-form-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.edit-form-bottom > input {
    width: 200px;
    height: 50px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
}

.edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn-container {
    display: flex;
    justify-content: flex-end;
}

.register-btn {
    background-color: #f2f3f7;
    width: 200px;
    height: 40px;
    font-family: Calibri;
    font-size: 18px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
}

.success {
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
    line-height: 0.54;
    letter-spacing: 1px;
}

.row-block {
    display: flex;
    flex-direction: row;
}

#copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Form style*/
#catalog_container {
    display: none;
}

#catalog_window {
    background-color: #f2f3f7;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
}

.genre_block {
    display: flex;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 6px 20px;
    /*background-color: #2b2b2b;*/
    border: 2px solid #000000;
    margin: 5px;
    font-family: Calibri, serif;
    font-size: 17px;
    justify-content: center;
}

.genre_block:hover {
    background-color: #ffffff;
}

.all-docs {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
    /*overflow-x: hidden;*/
    background-color: #f2f3f7;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 20px;
}

.all-doc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    max-width: 200px;
    padding: 20px;
}

.pages-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.page {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: Calibri, serif;
    font-size: 17px;
    margin: 5px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page:hover {
    background-color: white;
    color: black;
    transition: 100ms;
}

.current-page {
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-family: Calibri, serif;
    font-size: 17px;
}

.genres_container {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genre {
    background-color: white;
    padding: 10px;
    font-family: Calibri, serif;
    font-size: 17px;
    color: black;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    border: 2px solid black;
}

.genre:hover {
    background-color: black;
    color: white;
    transition: 100ms;
}

.gbook {
    padding-left: 0;
}